*{
    margin: 0px;
    font-family: sans-serif;
}
/*maincontaine*/
    #maincontainer{
        text-align: center;
        position: relative;
        z-index: 1;
    }
    #header{
        margin-right: 1500px;
    }
    #pause{
        /*height: calc(103vh - 80vw); first version*/
        height: calc(100vh - 110px - 100vw * (536/1919));
        z-index: 1;
    }
    #logo{
        border-radius: 75px;
        border: 3px solid #0bb397;
        margin-left: 30px;
        margin-top: 10px;
        z-index: 1;
    }
    #content{
        position: fixed;
        width: calc(100vw - 160px);
        height: calc(100vh - 210px);
        background-color: #f1efbb;
        border: 5px solid  #0bb397;
        border-radius: 25px;
        z-index: 2;
        top: 125px;
        left: 75px;
        box-shadow: 0 0 50px  #888888
    }
    h1{
        padding: 20px 0;
        font-size: 50px;
    }
    p{
        width: 500px;
        text-align: justify;
    }