
        @font-face

        {
        
        font-family: CevicheOne;
        
        src:url(CevicheOne-Regular.ttf);
        
        }
#header{
    background-color:#0bb397;
    margin: none   ;
    height: 50px;
}
#logo{
    height: 50px;
    display: inline;
    font-family: CevicheOne;
}
header {
    display: flex;
    justify-content: center;
  }
