*{
    margin: 0px;
}
#logo{
    border-radius: 75px;
    border: 3px solid #0bb397;
    margin-left: 30px;
    margin-top: 10px;

}
.content{
    background-color: #b0850e;
    height: 600px;
    width: 1900px;
}
#container{

    margin-left: 50px;
    margin-right: auto;
}
#introduce{
    width: 500px;
    height: 500px;
    background-color: ivory;
    margin-top: 50px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 30px;
}
