body{
    margin: 0;
}
#header{
    background-color: peru;
    width: 520px;
    border-radius: 55px;
    border: 5px solid
}
#logo{
    font-size: 120px;
    color:#0bb397;
     font-family: 'Ceviche One', cursive;
     
  
}
#img{
    
}